<!-- app/views/listings/_form.html.erb -->
<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :commission, class: "form-label" %>
    <%= form.number_field :commission, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :contact_info, class: "form-label" %>
    <%= form.text_field :contact_info, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :website_link, class: "form-label" %>
    <%= form.url_field :website_link, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>